:host {
    display: block;
    background-color: #FBF7F0; 
    min-height: 100vh;
}
.arvore {
    position: fixed; 
    top: 0;
    right: 0; 
    height: 100vh; 
    width: auto;
    z-index: 0; 
    opacity: 0.05; 
}
main {
    position: relative; 
    z-index: 1;
    width: 90%;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 100px; 
    min-height: 100vh;
}